<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tinkersstudio.musiccloud">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".FragmentFavoriteList" />
        <activity android:name=".FragmentEqualizer" />
        <activity android:name=".FragmentMusicPlayer" />
        <activity android:name=".FragmentProfile" />
        <activity android:name=".FragmentSetting" />
        <activity android:name=".FragmentSongList" />

        <receiver android:name="controller.MyNotification$NotificationDismissedReceiver" />
        <service android:name="controller.MusicService" />
    </application>

</manifest>